body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  /* Background color for the entire body */
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.connectButton {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4fa4d9;
  /* Subdued button color */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.connectButton:hover {
  background-color: #61dafb;
  /* Brighter color on hover */
}

.walletAddress {
  margin-top: 10px;
  font-size: 16px;
}

.App-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
}

.userInteractionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #f0f0f0;
  /* Lighter background for better contrast */
  color: #282c34;
  /* Text color matches header background */
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.userTypeSelect,
.tokenLabel,
.tokenButton,
.balanceLabel,
.balanceValue,
.propositionLabel,
.propositionInput,
.addPropositionButton {
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
}

.userTypeSelect {
  width: 200px;
}

.tokenLabel,
.balanceLabel,
.propositionLabel {
  font-weight: bold;
}

.tokenButton,
.addPropositionButton {
  background-color: #4fa4d9;
  /* Subdued button color */
  border: none;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.tokenButton:hover,
.addPropositionButton:hover {
  background-color: #61dafb;
  /* Brighter color on hover */
}

.propositionInput {
  width: 100%;
  max-width: 300px;
}

.addPropositionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.addPropositionButton {
  width: 50%;
  max-width: 200px;
}